<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <p>Привет, Мир!</p>
    <!-- <img scr="image.png" alt="Изображение"> -->
     <h1>Заголовок</h1>
     <a href="https://synergy.ru/">Синергия</a>
     <ul>
        <li>Первый элемент</li>
        <li>Второй элемент</li>
     </ul>
     <ol>
        <li>Первый элемент</li>
        <li>Второй элемент</li>
     </ol>
     <button>Кнопка</button>
</body>
</html>